html {
    width: 100vw;
    height: 100vh;
  }
  
  section {
    max-width: 30vw;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  
  .countOnClick,
  .countSeconds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .countOnClick div {
    display: flex;
    gap: 5px;
  }
  
  .backgroundBlack {
    background-color: black;
  }
  
  .bigSize {
    font-size: 50px;
  }